/* mobile styles */
@media handheld {

	  html, body {
		    font: 12px/15px sans-serif;
		    background: #fff;
		    padding: 3px;
		    color: #000;
		    margin: 0;
		}
	  #sidebar, #footer {
		    display: none;
		}
	  h1, h2, h3, h4, h5, h6 {
		    font-weight: normal;
	  }
    .page h2 {
        padding-top: 100px;
        margin-top: -100px;
    }
	  #content img { 
		    max-width: 250px;
		}
	  .center {
		    width: 100% !important;
		    text-align: center;
		}
	  a:link, a:visited {
		            text-decoration: underline;
		            color: #0000CC;
		        }
	  a:hover, a:active {
		             text-decoration: underline;
		             color: #660066;
		         }

}
/* iPhone-specific styles */
@media only screen and (max-device-width: 480px) { 

	  html {
		    -webkit-text-size-adjust: none;
		}

}

margin-bottom {
    margin-bottom: 0;
}

navbar-inner {
    padding-left: 20px;
    padding-right: 20px;
}

.highlight {
    background: #ffffff;
    max-width: 500px;
    margin-left: 10px;
    margin-right: 10px;
}

